# Supabase
NEXT_PUBLIC_SUPABASE_URL=https://smownspggkjerpqpbzdq.supabase.co

NEXT_PUBLIC_SUPABASE_ANON_KEY=sb_publishable_-UJk_B9imgwqPTSGZVz1YA_HPPn4jLK


# App
NEXT_PUBLIC_APP_URL=http://localhost:3000
